<footer class="bg-[#F3ACB2] rounded-t-[60px] mt-24 grid grid-cols-5 justify-between px-20 pt-16 text-[#333]">
  <div>
    <img src="assets/16e3f15e3b1e69832a4bb250a0ac0451c136349f.png" class="w-[140px] mb-4">
    <p>©2019 SworkitⓇ by Nexercise, Inc.</p>
  </div>
  <div>
    <h3 class="text-xl font-semibold mb-4">Product</h3>
    <p class="cursor-pointer text-sm hover:translate-x-1 transition">Product</p>
    <p class="cursor-pointer text-sm hover:translate-x-1 transition">Pricing</p>
    <p class="cursor-pointer text-sm hover:translate-x-1 transition">Log In</p>
  </div>
  <div>
    <h3 class="text-xl font-semibold mb-4">About Us</h3>
    <p class="cursor-pointer text-sm hover:translate-x-1 transition">About Us</p>
    <p class="cursor-pointer text-sm hover:translate-x-1 transition">Contact Us</p>
    <p class="cursor-pointer text-sm hover:translate-x-1 transition">Features</p>
  </div>
  <div>
    <h3 class="text-xl font-semibold mb-4">Resources</h3>
    <p class="cursor-pointer text-sm hover:translate-x-1 transition">Help Center</p>
    <p class="cursor-pointer text-sm hover:translate-x-1 transition">Book A Demo</p>
    <p class="cursor-pointer text-sm hover:translate-x-1 transition">Server Status</p>
  </div>
  <div>
    <h3 class="text-xl font-semibold mb-4">Get In Touch</h3>
    <p class="text-sm">Questions or feedback? We'd love to hear from you</p>
    <div class="flex gap-4 mt-3">
      <i class='bx bxl-facebook text-2xl hover:scale-125 transition'></i>
      <i class='bx bxl-instagram text-2xl hover:scale-125 transition'></i>
      <i class='bx bxl-whatsapp text-2xl hover:scale-125 transition'></i>
    </div>
  </div>
</footer>
