<header class="w-full h-[90px] px-[60px] top-0 left-0 flex justify-between items-center z-1000 ">
  <div>
    <img src="assets/16e3f15e3b1e69832a4bb250a0ac0451c136349f.png" alt="Logo" class="w-[70px]">
  </div>

  <nav class="bg-white shadow-md rounded-[15px] h-[58px] flex items-center px-10">
    <ul class="flex gap-10 font-semibold text-[#1b1616]">
      <li><a href="#hero" class="hover:text-pink-950">Home</a></li>
      <li><a href="#menu-wrapper" class="hover:text-pink-950">Shop</a></li>
      <li><a href="#" class="hover:text-pink-950">Rewards</a></li>
      <li><a href="#about-us" class="hover:text-pink-950">About</a></li>
      <li><a href="#contact" class="hover:text-pink-950">Contact</a></li>
    </ul>
  </nav>

  <div>
    <a href="#" class="text-2xl ml-5 hover:text-[#5a3a3a]"><i class='bx bx-search'></i></a>
    <a href="#" class="text-2xl ml-5 hover:text-[#694141]"><i class='bx bx-shopping-bag'></i></a>
  </div>
</header>
