<section id="about-us" class="max-w-[1000px] mx-auto py-5 px-0 mt-0 text-center">
  <h1 class="text-4xl font-bold text-[#564040] mb-20">About Us</h1>
  <div class="flex gap-20 text-left items-center">
    <div class="w-1/2">
      <img src="assets/84767b3a1a2f424133efae2e8325bf89e28af23a.png" class="w-full rounded-xl">
    </div>
    <div class="w-1/2  ">
      <h2 class="text-4xl font-semibold mb-5">Our Mission</h2>
      <p class="text-xl  text-[#472d2d] mb-10">Lorem Ipsum Dolor Sit Amet Consectetur. Sit Lectus Libero Suspendisse</p>
      <ul class="flex flex-col gap-5">
        <li class="flex items-center text-lg  text-[#444]">
          <img src="assets/acorn.png" class="mr-3"> Lorem Ipsum Dolor Sit
        </li>
        <li class="flex items-center text-lg  text-[#444]">
          <img src="assets/acorn.png" class="mr-3"> Lorem Ipsum Dolor Sit Amet.
        </li>
        <li class="flex items-center text-lg  text-[#444]">
          <img src="assets/acorn.png" class="mr-3"> Lorem Ipsum Dolor Sit Amet Consectetur.
        </li>
      </ul>
    </div>
  </div>
</section>
