<section class="py-36">
  <div class="max-w-[1200px] mx-auto flex gap-24 px-16 items-center">
    <div class="w-1/2">
      <img src="assets/4e2df7441d52280b7e65998ff7b4bf77056d9412.png" class="w-[450px] mt-36">
    </div>
    <div class="w-1/2">
      <h1 class="text-6xl font-bold mb-30 ml-[-50px] "><span class="text-[#ca7e84]">Order Now</span> Your Favorite Flavor</h1>
      <div class="flex flex-col gap-5">
        <div class="border border-gray-400 px-4 py-5 rounded-xl flex justify-between items-center hover:shadow-lg transition-all">
          <span class="text-2xl font-bold opacity-40 ml-16">Select Flavor</span>
          <i class='bx bx-chevron-down text-4xl bg-[#F3ACB2] rounded-xl'></i>
        </div>
        <div class="border border-gray-400 px-4 py-5 rounded-xl flex justify-between items-center hover:shadow-lg transition-all">
          <span class="text-2xl font-bold opacity-40 ml-16">Select Size</span>
          <i class='bx bx-chevron-down text-4xl bg-[#F3ACB2] rounded-xl'></i>
        </div>
        <div class="border border-gray-400 px-4 py-5 rounded-xl flex justify-between items-center hover:shadow-lg transition-all">
          <span class="text-2xl font-bold opacity-40 ml-16">Delivery Type</span>
          <i class='bx bx-chevron-down text-4xl bg-[#F3ACB2] rounded-xl'></i>
        </div>
        <button class="border border-gray-400 px-5 py-3 rounded-xl font-extrabold text-[#553838] hover:bg-[#3d2a2a] hover:text-white transition-all mt-5 ml-40">Order Now</button>
      </div>
    </div>
  </div>
</section>
